**Librería Panda**
Proporciona herramientas de análisis y manipulación de datos de alto rendimiento

<hr>

En Panda se puede trabajar con índices para cada fila y nombres de columnas. Los nombres dependen del programador o del archivo que se agregue a la librería.

**Panda** proporciona herramientas, métodos y funcionalidad para las estructuras básicas de datos.

In [2]:
import pandas as pd
import numpy as np

In [4]:
data = np.array([['','Col1','Col2'],['Fila1',11,22], ['Fila2',33,44]])
print(pd.DataFrame(data=data[1:,1:], index=data[1:,0], columns=data[0,1:]))

      Col1 Col2
Fila1   11   22
Fila2   33   44

In [5]:
#Creación de dataframe
df = pd.DataFrame(np.array([[1,2,3], [4,5,6], [7,8,9]]))
print('DataFrame:')
print(df)

DataFrame:
   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
#Crear una serie en Panda
series = pd.Series({"Argentina":"Buenos Aires","Chile":"Santiago de Chile","Colombia":"Bogotá","Perú":"Lima"})
print('Series:')
print(series)

Series:
Argentina         Buenos Aires
Chile        Santiago de Chile
Colombia                Bogotá
Perú                      Lima
dtype: object

In [7]:
#Forma del DataFrame (cuantas filas y columnas tiene)
print('Forma del DataFrame:')
print(df.shape)

Forma del DataFrame:
(3, 3)

In [9]:
#Altura del DataFrame
print('Altura del DataFrame:')
print(len(df.index))

Altura del DataFrame:
3

In [12]:
#la función describe, indica detalles estadísticos del frame, para columnas numéricas
print('Estadísticas del DataFrame:')
print(df.describe())

Estadísticas del DataFrame:
         0    1    2
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [11]:
#Media de las columnas del DataFrame
print('Media de las columnas DataFrame:')
print(df.mean())

Media de las columnas DataFrame:
0    4.0
1    5.0
2    6.0
dtype: float64

In [13]:
#Conocer la correlación del DataFrame
print('Correlación del DataFrame:')
print(df.corr())

Correlación del DataFrame:
     0    1    2
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

In [14]:
#Cuenta los datos NO NULOS de cada columna del DataFrame
print('Conteo de datos NO NULOS de c.columna del DataFrame:')
print(df.count())

Conteo de datos NO NULOS de c.columna del DataFrame:
0    3
1    3
2    3
dtype: int64

In [15]:
#Valor más alto de cada columna del DataFrame
print('Valor más alto de la colmuna del DataFrame:')
print(df.max())

Valor más alto de la colmuna del DataFrame:
0    7
1    8
2    9
dtype: int64

In [16]:
#Valor míinimo de cada columna del DataFrame
print('valor mínimo de la colmuna del DataFrame:')
print(df.min())

valor mínimo de la colmuna del DataFrame:
0    1
1    2
2    3
dtype: int64

In [17]:
#Conocer la mediana de cada colmuna del DataFrame
print('Mediana de la colmuna del DataFrame:')
print(df.median())

Mediana de la colmuna del DataFrame:
0    4.0
1    5.0
2    6.0
dtype: float64

In [18]:
#Conocer la desviación estándar de cada columna del DataFrame
print('Desviación estándar de la columna del DataFrame:')
print(df.std())

Desviación estándar de la columna del DataFrame:
0    3.0
1    3.0
2    3.0
dtype: float64

In [19]:
#Seleccionar la primera columna del DataFrame
print('Primera columna del DataFrame:')
print(df[0]) #se debe colocar el índice de la columna que queremos ver

Primera columna del DataFrame:
0    1
1    4
2    7
Name: 0, dtype: int64

In [21]:
#Seleccionar dos columnas del DataFrame
print('Dos columnas del DataFrame:')
print(df[[0,1]])

Dos columnas del DataFrame:
   0  1
0  1  2
1  4  5
2  7  8

In [22]:
#Seleccionar el valor de la primera fila y la última columna del DataFrame
print('Valor de la primera fila y la última colmuna del DF:')
print(df.iloc[0][2])

Valor de la primera fila y la última colmuna del DF:
3

In [23]:
#Seleccionar los valores de la primera fila del DF
print('Valores de la primera fila del DF:')
print(df.loc[0])

Valores de la primera fila del DF:
0    1
1    2
2    3
Name: 0, dtype: int64

In [24]:
#abrir un archivo en la libreria Pandas
df = pd.read_csv('/Users/usuario/Documents/GitHub/MLYoutube/titanic_custom.csv')

In [28]:
#Verificar si hay datos nulos en el DF
print('Datos nulos en el DF:')
print(df.isnull())

Datos nulos en el DF:
      Unnamed: 0  pclass  survived   name    sex    age  sibsp  parch  ticket  \
0          False   False     False  False  False  False  False  False   False
1          False   False     False  False  False  False  False  False   False
2          False   False     False  False  False  False  False  False   False
3          False   False     False  False  False  False  False  False   False
4          False   False     False  False  False  False  False  False   False
...          ...     ...       ...    ...    ...    ...    ...    ...     ...
1304       False   False     False  False  False  False  False  False   False
1305       False   False     False  False  False   True  False  False   False
1306       False   False     False  False  False  False  False  False   False
1307       False   False     False  False  False  False  False  False   False
1308       False   False     False  False  False  False  False  False   False

       fare  cabin  embarked   boat   body  home.dest
0     False  False     False  False   True      False
1     False  False     False  False   True      False
2     False  False     False   True   True      False
3     False  False     False   True  False      False
4     False  False     False   True   True      False
...     ...    ...       ...    ...    ...        ...
1304  False   True     False   True  False       True
1305  False   True     False   True   True       True
1306  False   True     False   True  False       True
1307  False   True     False   True   True       True
1308  False   True     False   True   True       True

[1309 rows x 15 columns]

In [30]:
#suma de datos nulos en el DF x Columna
print('Suma datos nulos en le DF:')
print(df.isnull().sum())

Suma datos nulos en le DF:
Unnamed: 0       0
pclass           0
survived         0
name             0
sex              0
age            263
sibsp            0
parch            0
ticket           0
fare             1
cabin         1014
embarked         2
boat           823
body          1188
home.dest      564
dtype: int64

In [32]:
#eliminar los valores perdidos
print(df.dropna()) #eliminar filas

Empty DataFrame
Columns: [Unnamed: 0, pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []

In [34]:
#eliminar los valores perdidos
print(df.dropna(axis=1)) #eliminar columnas con datos perdidos

      Unnamed: 0  pclass  survived  \
0              0       1         1
1              1       1         1
2              2       1         0
3              3       1         0
4              4       1         0
...          ...     ...       ...
1304        1304       3         0
1305        1305       3         0
1306        1306       3         0
1307        1307       3         0
1308        1308       3         0

                                                 name     sex  sibsp  parch  \
0                       Allen, Miss. Elisabeth Walton  female      0      0
1                      Allison, Master. Hudson Trevor    male      1      2
2                        Allison, Miss. Helen Loraine  female      1      2
3                Allison, Mr. Hudson Joshua Creighton    male      1      2
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female      1      2
...                                               ...     ...    ...    ...
1304                             Zabour, Miss. Hileni  female      1      0
1305                            Zabour, Miss. Thamine  female      1      0
1306                        Zakarian, Mr. Mapriededer    male      0      0
1307                              Zakarian, Mr. Ortin    male      0      0
1308                               Zimmerman, Mr. Leo    male      0      0

      ticket
0      24160
1     113781
2     113781
3     113781
4     113781
...      ...
1304    2665
1305    2665
1306    2656
1307    2670
1308  315082

[1309 rows x 8 columns]

In [42]:
print('Suma datos nulos en le DF:')
print(df.isnull().sum()

SyntaxError: unexpected EOF while parsing (<ipython-input-42-c7f1f6ae5fca>, line 2)

In [40]:
#Reemplaza los valores perdidos
print('Reemplazar los valores perdidos por la media')
print(df.fillna(df.mean()))

Reemplazar los valores perdidos por la media
      Unnamed: 0  pclass  survived  \
0              0       1         1
1              1       1         1
2              2       1         0
3              3       1         0
4              4       1         0
...          ...     ...       ...
1304        1304       3         0
1305        1305       3         0
1306        1306       3         0
1307        1307       3         0
1308        1308       3         0

                                                 name     sex        age  \
0                       Allen, Miss. Elisabeth Walton  female  29.000000
1                      Allison, Master. Hudson Trevor    male   0.916700
2                        Allison, Miss. Helen Loraine  female   2.000000
3                Allison, Mr. Hudson Joshua Creighton    male  30.000000
4     Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female  25.000000
...                                               ...     ...        ...
1304                             Zabour, Miss. Hileni  female  14.500000
1305                            Zabour, Miss. Thamine  female  29.881135
1306                        Zakarian, Mr. Mapriededer    male  26.500000
1307                              Zakarian, Mr. Ortin    male  27.000000
1308                               Zimmerman, Mr. Leo    male  29.000000

      sibsp  parch  ticket      fare    cabin embarked boat        body  \
0         0      0   24160  211.3375       B5        S    2  160.809917
1         1      2  113781  151.5500  C22 C26        S   11  160.809917
2         1      2  113781  151.5500  C22 C26        S  NaN  160.809917
3         1      2  113781  151.5500  C22 C26        S  NaN  135.000000
4         1      2  113781  151.5500  C22 C26        S  NaN  160.809917
...     ...    ...     ...       ...      ...      ...  ...         ...
1304      1      0    2665   14.4542      NaN        C  NaN  328.000000
1305      1      0    2665   14.4542      NaN        C  NaN  160.809917
1306      0      0    2656    7.2250      NaN        C  NaN  304.000000
1307      0      0    2670    7.2250      NaN        C  NaN  160.809917
1308      0      0  315082    7.8750      NaN        S  NaN  160.809917

                            home.dest
0                        St Louis, MO
1     Montreal, PQ / Chesterville, ON
2     Montreal, PQ / Chesterville, ON
3     Montreal, PQ / Chesterville, ON
4     Montreal, PQ / Chesterville, ON
...                               ...
1304                              NaN
1305                              NaN
1306                              NaN
1307                              NaN
1308                              NaN

[1309 rows x 15 columns]

**Se recomienda revisar la página web oficial de panda para aprender más de la Librería**